h3 {
  text-align: center; 
}

h4 {
  text-align: center;
}

 /* Image inside bio */
 #bio img{
  width: 25%;
}

.square img{
  width: 15%;
}

#interest img{
  width: 5%;
}

/* 12 flex boxes 3x4*/
.square {
  padding: 0px;
  width: 320px;
  height: auto;
  border: 1px solid;
}

/* Container of all 12 flex boxes */
#container {
  display: flex;
  flex-flow: wrap;
  width: 100vw;
  height: auto;
}

/* Black Background on selected flex boxes */
.square1 {
  background-color: black;
  color: white;
  text-align: center;
}



  









